body{
  width: 1000px;
  background-color: black;
}
h1 {
    text-align: center;
    text-decoration: underline;
}
button {
    display: inline-block;
    margin-left: 500px;
    width: 500px;
    height: 50px;
    background-color: black;
    border: none;
    border-radius: 10px;
}
a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

a:hover {
    background-color: green;
}
