<html>
  <head>
    <title>Registration Form</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <div id = "header">
      <h2>Registration Form</h2>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <p>{{message}}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div id="form">
        <form action="/submit" method="post">
          Your Name: <input type='text' name='name'>
          Dojo Location:<select name="location">
                          <option value="dallas">Dallas</option>
                          <option value="seatle">Seattle</option>
                          <option value="la">Las Angeles</option>
                          <option value="tulsa">Tulsa</option>
                        </select>
          Favorite Language:<select name="language">
                          <option value="python">Python</option>
                          <option value="javascript">Javascript</option>
                          <option value="ruby">Ruby</option>
                          <option value="php">PHP</option>
                        </select>
          Comment(optional):<textarea name="comment" rows="10" cols="30"></textarea>
          <input type='submit' value='submit'>
      </form>

      </div>
    </div>
  </body>
</html>